.container{
    width: 50%;
    background-color: #fcfafa;
    border: 1px dashed #519006;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.date{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px 0 30px;
}
.date p{
    background-color: #519006;
    max-width: 40%;
    padding: 5px;
    text-align: center;
    color: #fff;
}
.date span{
    background-color: #519006;
    width: 20%;
    text-align: center;
    padding-top: 3px;
    color: #fff;
}
.desc{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.delete{
    margin-right: 4px;
    margin-bottom: 4px;
}
.delete button{
    background-color: #a71407;
    color: #fff;
    border: 1px solid rgb(146, 3, 3);
    padding: 5px;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
}
.delete button:hover{
    opacity: 0.8;
}

.delete .edit{
    background-color: #029911;
    border: 1px solid #029911;
    margin-right: 4px;

}

@media (max-width: 420px){
    .date p {
        font-size: 70%;
    }
}