.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    background-color: #E0FBFB;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 3px 10px 3px #87C0F9;
    
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CFE1E2;
    width: 200px;
    border-bottom-right-radius: 20px;

}