.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-bottom: 1px dashed silver;
}

.desc{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}
.desc p{
    margin: 20px;
}
.desc h4{
    margin: 20px;
}

.relationship{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}

.relationship .call{
    color: rgb(22, 22, 22);
}
.relationship p {
    color: #24CBF8;
}
.relationship .instagram{
    color: #F91339;
}

@media (max-width: 768px){
    .img{
        width: 25%;
    }
    .desc h4{
        font-size: 12px;
    }
    .relationship p{
        font-size: 12px;
    }
}