.container{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.players{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    background-color: #E0FBFB;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 3px 10px 3px #87C0F9;
}
.players:hover{
    opacity: 0.9;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D4D8D8;
    width: 250px;
    border-bottom-right-radius: 20px;
}

.container button {
    width: 150px;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 3px;
    background-color: #519006;
    border: #519006;
    color: #fff;
    border-radius: 5px;
}

.container button:hover{
    background-color: #3c6904;
    cursor: pointer;
}

